/* html{font-size:16px; line-height:1.5} */
html{font-size:12px}
@media (min-width: 576px) {
  html{font-size:14px;}
}
@media (min-width: 768px) {
  html{font-size:15px;}
}
@media (min-width: 992px) {
  html{font-size: 16px;}
}

body{
background-color: '#fffeee';
line-height: 1.6;
font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana,
sans-serif;
}
